@font-face {
    font-family: "gameOfThronesFont";
    src: url(../assets/gameOfThrones.ttf);
}


h1 {
    color:#df8931;
    font-size:8rem;
    transform: rotate(270deg);
    letter-spacing: 0.8rem;
    
    margin: 0;
    font-family: gameOfThronesFont;
}

h2,h3{
    font-family: 'Cinzel Decorative', cursive;
    margin-bottom: 30px;
}


h2 {
        
        font-size:4.5rem;
        margin: 0;
    }

h3 {
    font-size: 3.5rem;
    }
    
p {
    font-family: 'Ibarra Real Nova', serif;
    font-size:2.5rem;
    margin: 0;
}