main {
  background: url(../assets/page2Background3.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  color: white;
  position: relative;
  height: 110vh;
}

h3 {
  font-size: 1rem;
}

.houseContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.houseGlory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    @include mqTabletSmall{
      flex-direction: column;
    }
}

.firstColumn,
.secondColumn,
.thirdColumn {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  margin-right: 20px;
  @include mqTabletSmall{
    width: 100%;
  }
}

.houseName {
  text-align: center;
  margin: 0 auto;
}

.firstColumn {
  justify-content: space-evenly;
  .historyContainer {
    p {
      text-align: left;
    }
  }
}

.secondColumn {
  .emblem {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    img {
      margin: 0 auto;
      max-width: 300px;
    }
  }
}

.thirdColumn {
  margin-right: 0;
  .currentLordImage {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    img {
      margin: 0 auto;
      max-width: 300px;
    }
  }
}

.arrowButton {
  height: 80px;
  width: 80px;
  position: fixed;
  right: 30px;
  top: 50%;
  img {
    transform: rotate(-45deg);
  }
}

.lordImage {
  margin: 0 auto;
  max-width: 300px;
  margin-top: 10px;
}
