

* {
    // border:1px solid crimson;
}

main {
    background:url(../assets/page2Background3.jpg);
    background-size:cover;
    color:white;
    
    
}

h3 {
    font-size:1rem;
}

.houseContainer{
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
    position: relative;
}

.houseGlory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height:100vh;
}

.firstColumn, .secondColumn, .thirdColumn {
    display:flex;
    flex-direction: column;
    width:calc(100% / 3);
    margin-right: 20px;
    justify-content: space-between;
}

.houseName {
    // display: flex;
    // justify-content: center;
    // width:100%;
    text-align: center;
    margin: 0 auto;
}

.firstColumn {
    // justify-content: space-evenly;
    .historyContainer{
       
    }
}

.secondColumn {
    // .familyMotto p{
        
    // }

    .emblem {
        // height:300px;
        width:100%;
        margin:0 auto;
        // margin-bottom: 70%;
        // background-color: beige;
    }
}

.thirdColumn {
    margin-right: 0;
    .currentLordImage {
        // height:300px;
        width:100%;
        margin:0 auto;
        // background-color: lightcyan;
        
    }
    .lordTitles {
        height:150px;
    }
}

.arrowButton{
    height: 80px;
    width: 80px;
    position: absolute;
    right: 0;
    top: 30px;
    img{
        transform: rotate(-45deg);

    }
}
