.siteInfo {
  background-image: url(../assets/dragonsBG.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  height: 100vh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include mqPhoneSmall{
    height: 100vh;
  }
}

.siteInfo .infoContent {
  h2 {
    margin: 30px 0;
    font-size: 5rem;
    color: $orangeColor;

    @include mqPhoneBig{
      font-size: 4rem;
    }

    @include mqPhoneSmall{
      font-size: 3.5rem;
    }
  }

  p {
    margin: 30px 0;
    color: white;
    padding: 0 60px;
    font-size: 2.6rem;

    @include mqPhoneBig{
      padding: 0 5px;
    }
    @include mqPhoneSmall{
      font-size: 2.2rem;
    }
  }
}

.goToWiki {
  width: 30%;
  padding: 20px;
  align-self: center;
  background: transparent;
  color: $orangeColor;
  font-size: 2.2rem;
  border: 2px solid white;
  
  &:hover {
    background-color: $orangeColor;
    color: $blackColor;
    border: $blackColor;
    transition: 0.4s;
  }

  @include mqTabletSmall {
    width: 80%;
  }
}
