@import "partials/setup";
@import "partials/fonts";
@import "partials/mediaQueries";
@import "partials/siteInfo";
@import "partials/page2";

.wrapper {
max-width: 1240px;
width: 80%;
margin: 0 auto;
}

html {
font-size: 62.5%;
display: inline-block;
}


img {
width: 100%;
display: block;
border-radius: 10px;
}

.skipLink {
position: absolute;
left: -1000px;
top: 5px;
z-index: 999;
background: white;
color: black;
}

.skipLink:focus {
left: 0;
}

// Header Styling
.sigilSection {
background-image: url(../assets/westerosMap.jpg);
background-color: black;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
// background-attachment: fixed;
height: 100vh;
position: relative;
font-family: url(../assets/gameOfThrones.ttf);
@include mqPhoneBig{
    background-size: cover;
}
h1 {
    position: absolute;
}
}

.leftHalfHeader {
    top: 350px;
    left: 0;
    @include mqLaptopBig{
        left: -150px;
    }
    @include mqLaptopSmall{
        left:-200px;
    }
    @include mqTabletBig{
        left:-250px;
    }
    @include mqTabletSmall {
        font-size:6rem;
        left:-80px;
        color:black;
        text-shadow:2px 2px #df8931;
    }
    @include mqPhoneMed{
        left: -150px;
    }
    @include mqPhoneSmall{
        left: -180px;
    }
}

.rightHalfHeader {
    top: 350px;
    right: 150px;
    transform: rotate(-270deg);
    @include mqLaptopBig{
        right: 50px;
    }
    @include mqLaptopSmall{
        right:-40px;
    }
    @include mqTabletBig{
        right:-80px;
    }
    @include mqTabletSmall {
        font-size:6rem;
        color:black;
        text-shadow:2px 2px #df8931;
        right:50px;
    }
    @include mqPhoneMed{
        right: -40px;
    }
    @include mqPhoneSmall{
        right:-60px;
    }
}


.sigilSection {
.sigil {
    position: absolute;
    animation-duration: 0.8s;
        img {
            height: 60px;
            width: 50px;
            transition: 0.35s ease-in-out;
            
                &:hover{
                    height: 60px;
                        width: 50px;
                        transform: scale(1.7);
                        }
            }
        }
    }

// Sigil positioning for interactive map
.starkSigil {
top: 25%;
right: 50%;
}
.targaryanSigil {
top: 50%;
right: 45%;
}
.lannisterSigil {
top: 53%;
left: 42%;
}
.greyjoySigil {
top: 38%;
left: 40%;
}
.tullySigil {
top: 44%;
right: 50%;
}
.baratheonSigil {
top: 62%;
right: 45%;
}
.martellSigil {
top: 73%;
right: 48%;
}
.arrynSigil {
top: 37%;
left: 51%;
}
.tyrellSigil {
top: 62%;
right: 53%;
}
