@import "partials/setup";
@import "partials/page2";
@import "partials/fonts";

.wrapper{
    max-width: 1240px;
    width: 80%;
    margin: 0 auto;
}

html {
    font-size: 62.5%;
}

img {
    width:100%;
    display: block;
}

// Header Styling
header {
background-image: url(../assets/westerosMap.jpg);
background-color: black;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
height: 100vh;
position: relative;
font-family: url(../assets/gameOfThrones.ttf);
    h1 {
        position: absolute;
    }

        .leftHalfHeader {
            // position: absolute;
            top:300px;
            left:0;
        }

        .rightHalfHeader {
            top:300px;
            right:150px;
            transform: rotate(-270deg);
        }
    


    .sigil {
        position: absolute;
    img {
        height: 30px;
        width: 25px;
    }
}

.sigil img:hover {
    height:60px;
    width:50px;
    transition:width 0.5s, height 0.5s;

}   

}
// Sigil positioning for interactive map
.starkSigil{
    top: 25%;
    right: 50%;
}
.targaryanSigil{
    top:50%;
    right: 45%;
}
.lannisterSigil{
    top: 53%;
    left: 42%;
}
.greyjoySigil{
    top: 38%;
    left: 40%;
}
.tullySigil{
    top: 44%;
    right: 50%;
}
.baratheonSigil{
    top: 62%;
    right: 45%;
}
.martellSigil{
    top: 73%;
    right: 48%;
}
.arrynSigil{
    top: 37%;
    left: 51%;
}
.tyrellSigil{
    top: 62%;
    right: 53%;
}

