@import "partials/setup";
@import "partials/page2";

.wrapper{
    max-width: 1240px;
    width: 80%;
    margin: 0 auto;
}

img {
    width:100%;
}

// Header Styling
header {
background-image: url(../assets/westerosMap.jpg);
background-color: black;
background-size: contain;
background-repeat: no-repeat;
background-position: center center;
height: 100vh;
position: relative;
    h1 {
        color:crimson;
        font-size:40px;
        transform: rotate(90deg);
    }


    .sigil {
        position: absolute;
    img {
        height: 60px;
        width: 50px;
    }
}

}
// Sigil positioning
.starkSigil{
    top: 25%;
    right: 50%;
}
.targaryanSigil{
    top:50%;
    right: 45%;
}
.lannisterSigil{
    top: 53%;
    left: 42%;
}
.greyjoySigil{
    top: 38%;
    left: 40%;
}
.tullySigil{
    top: 44%;
    right: 50%;
}
.baratheonSigil{
    top: 62%;
    right: 45%;
}
.martellSigil{
    top: 73%;
    right: 48%;
}
.arrynSigil{
    top: 37%;
    left: 51%;
}
.tyrellSigil{
    top: 62%;
    right: 53%;
}

